.brand_text{
	color: #45BAEB;
}

.brand_text_2{
	color:white;
}

.navbar-default .navbar-nav .nav-link{
	color:white;
	font-size: 14px;
}

.navbar-default .navbar-nav .nav-link:hover{
	color: #45BAEB;
	border-bottom:2px solid #45BAEB;
	margin-bottom: -10px;
}

.navbar-default .navbar-brand {
    font-size: 40px;
    font-weight: 600;
}

.navbar{
	background: #000000b0;
}

.navbar-nav{
	font-size: 16px;
    padding-right: 7%;
}

.signal{
	position: relative;
    left: 81px;
    top: -24px;
}
.carousel-item {
  background: no-repeat center center scroll;
  background-size: cover;
}
.carousel-caption {
  bottom: 270px;
}

.carousel-caption h5 {
  font-size: 45px;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.btn-outline-primary {
	font-size: 22px;
	font-weight: 600;
    color: white;
    border-color: white;
    padding: 15px 40px;
    margin: 15px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #00CBFF;
    padding: 20px;
    border-radius:20px;

}

.carousel-control-prev-icon {
    background-size: 20px;
}

.carousel-control-next-icon {
    background-size: 20px;
}

.slider_icons:hover{
	color:#00CBFF;
}

.slider_icons {
    border-radius: 30px;
    padding: 13px;
    margin: 6px;
    font-size: 35px;
    background-color: #00000045;
    cursor: pointer;
}

.services_main_container{
	background: #F9F9F9;
    border-bottom: solid 2px gray;
    margin-bottom: 50px;
}

.services_row{
	margin-top: 50px;
	text-align: center;
}

.services_main_title{
	text-align: center;
	margin-top: 20px;
}

.services_titles{
	margin-top:20px;
	margin-bottom:20px;
}

.services_icons{
	cursor:pointer;
	font-size: 60px;
	padding:50px;
	color:white;
	background:#00CBFF;
	border-radius:80px;
}

.services_icons:hover{
	background:#3F3E40;
}

.services_gallery{
	text-align: center;
}

.services_gallery_title{
	margin-bottom: 50px;
}

.services_gallery_description{
	padding-top:20px;
}

.image_text{
	position:relative;
	bottom:35px;
	color:#00C7FB;
	font-weight: 500;
}

.image_button
  {
position: absolute;
    font-size: 30px;
    color: white;
    opacity: 0;
    width: 95%;
    background: #00c7fb70;
    height: 47%;
    border-radius: 8px;
  }

  .image_button:hover{
  	cursor:pointer;
  	opacity:1;
  }

 .new_file{
 	position: relative;
 	top:70px;
 }

.bg_car_img{
	width:100%;
	position: absolute;
	z-index: 1;
}

.video_text{
	position: relative;
    color: white;
    font-size: 25px;
    transform: translate(21%,100%);
    width: 70%;
    z-index: 2;
}

.video_main{
	text-align: center;
}